/*Allan Tenenbaum*/
body{
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: 100%;
}
p{
    font-size: 24px;
}
h1{
    text-align: center;
}
body{
    font-family: 'Roboto', sans-serif;
}
#Victory,#Loss{
    font-size:  63px;
    text-align: center;
    visibility: hidden;
}
h6{
  font-size: 24px;
}
button{
    background-color: #555555;
    color: white;
    font-size: 20px;
    border-radius: 25%;
}
